<!-- Explore our new chocolate /  Modal -->
<div class="backdrop">
  <div class="modal-explore-new">
    <button class="modal-explore-new-close-btn">
      <svg class="modal-explore-new-close-btn-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-close-28"></use>
      </svg>
    </button>
    <div class="explore-new_box">
      <picture>
        <source
          srcset="
            /img/desktop-and-tab/pop-up1x.jpg 1x,
            /img/desktop-and-tab/pop-up2x.jpg 2x,
            /img/desktop-and-tab/pop-up3x.jpg 3x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/mobile/top-sellers/pop-up1x.jpg 1x,
            /img/mobile/top-sellers/pop-up2x.jpg 2x,
            /img/mobile/top-sellers/pop-up3x.jpg 3x
          "
          media="(min-width: 320px)"
        />
        <img
          class="explore-new-img"
          src="/src/img/desktop-and-tab/pop-up1x.jpg"
          alt="Chocolate"
          width="538"
        />
      </picture>
    </div>
    <p class="modal-explore-new-text">
      Explore our<span class="modal-explore-new-text-accent">new chocolate</span
      >first!
    </p>
    <form class="modal-explore-new-form">
      <label class="modal-explore-new-form-filed">
        <input
          class="modal-explore-new-input"
          type="email"
          name="user_mail"
          required
          placeholder="Email"
        />
      </label>
    </form>
    <button class="modal-explore-new-form-sumbit" type="submit">Send</button>
  </div>
</div>
