<ul class="flip-list">
    <li class="flip-list-item">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front flip-style-accent">
                    <img class="uniqu-components-img" src="/src/img/desktop/milk-chocolate1x.png" alt="milk-chocolate"
                        width="206">
                    <p class="unique-components-list-item-title">
                        MILK CHOCOLATE
                    </p>
                </div>
                <div class="flip-card-back">
                    <div class="flip-back-wrap">
                        <h3 class="flip-title">Milk chocolate</h3>
                        <div class="wrap-flip-btn">
                            <button class="flip-btn" type="button">chocolate</button>
                            <button class="flip-btn" type="button">the benefits</button>
                        </div>
                        <p class="flip-description">Milk chocolate is a solid chocolate confectionery containing
                            cocoa,
                            sugar
                            and milk. It is the most consumed type of chocolate. Chocolate was originally sold and
                            consumed
                            as a
                            beverage in pre-Columbian times. Although four-fifths of all milk chocolate is sold in
                            the
                            United
                            States and Europe, increasingly large amounts are consumed in China and Latin America.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="flip-list-item">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front flip-style-border">
                    <img class="uniqu-components-img" src="/src/img/desktop/milk1x.png" alt="milk" width="206">

                    <p class="unique-components-list-item-title">
                        MILK
                    </p>
                </div>
                <div class="flip-card-back">
                    <div class="flip-back-wrap">
                        <h3 class="flip-title">Milk</h3>
                        <div class="wrap-flip-btn">
                            <button class="flip-btn" type="button">milk</button>
                            <button class="flip-btn" type="button">the benefits</button>
                        </div>
                        <p class="flip-description">Milk is a white liquid food produced by the mammary glands of
                            mammals. It is the primary source of nutrition for young mammals (including breastfed
                            human infants) before they are able to digest solid food.Early-lactation milk, which is
                            called colostrum, contains antibodies that strengthen the immune system, and thus
                            reduces the risk of many diseases. Milk contains many nutrients, including protein and
                            lactose.</p>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="flip-list-item">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front flip-style-primery">
                    <img class="uniqu-components-img" src="/src/img/desktop/nuts1x.png" alt="nuts" width="206">

                    <p class="unique-components-list-item-title">
                        NUTS
                    </p>
                </div>
                <div class="flip-card-back">
                    <div class="flip-back-wrap">
                        <h3 class="flip-title">NUTS</h3>
                        <div class="wrap-flip-btn">
                            <button class="flip-btn" type="button">nuts</button>
                            <button class="flip-btn" type="button">the benefits</button>
                        </div>
                        <p class="flip-description">Almonds, pistachios, and walnuts are some types of nuts that
                            contain healthy nutrients. When eaten as part of a nutrient-dense diet, these 9 nuts may
                            offer benefits such as reducing your risk of heart disease. They’re a good source of
                            fiber, healthy fats, and plant protein. Plus, they’re great on their own, paired with
                            fruit, or added to dishes like salads, desserts, and grains.</p>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="flip-list-item">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front flip-style-border">
                    <img class="uniqu-components-img" src="/src/img/desktop/sweet-chocolate1x.png" alt="sweet-chocolate"
                        width="206">
                    <p class="unique-components-list-item-title">
                        SEMI-SWEET CHOCOLATE
                    </p>
                </div>
                <div class="flip-card-back">
                    <div class="flip-back-wrap">
                        <h3 class="flip-title">semi-sweet chocolate</h3>
                        <div class="wrap-flip-btn">
                            <button class="flip-btn" type="button">semi-sweet chocolate</button>
                            <button class="flip-btn" type="button">the benefits</button>
                        </div>
                        <p class="flip-description">Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
                            of the best ways to gain an understanding of this type of chocolate is to compare it to
                            a different type of chocolate. Semisweet is darker than milk chocolate. In a taste
                            comparison, it has a slightly bitter taste whereas milk chocolate is sweeter and more
                            mellow. This delectable flavor of chocolate is very versatile.</p>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>