<header>
  <div class="container header-wrap">
    <nav class="header-nav">
      <a class="header-logo" href="/index.html"
        ><span>SIMPLY</span>&nbsp;CHOCOLATE
        <svg class="header-logo-choco-little" width="21" height="21">
          <use href="/img/sprite.svg#icon-choco-logo21"></use>
        </svg>
        <svg class="header-logo-choco-big" width="24" height="24">
          <use href="/img/sprite.svg#icon-choco-logo24"></use>
        </svg>
      </a>
      <ul class="header-menu">
        <li class="header-menu-item">
          <a class="header-menu-link" href="#home">Home</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#how-its-made">How it’s made?</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#our-products">Our products</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#top-sellers">Top sellers</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#chocolate-is-loved"
            >Chocolate is loved</a
          >
        </li>
      </ul>
    </nav>
    <button class="header-burger js-open-menu" type="button">
      <svg class="header-burger-icon-little" width="28" height="28">
        <use href="/img/sprite.svg#icon-mob-burger"></use>
      </svg>
      <svg class="header-burger-icon-big" width="32" height="32">
        <use href="/img/sprite.svg#icon-tablet-burger"></use>
      </svg>
    </button>
    <ul class="header-social-list">
      <li class="header-social-item">
        <a
          class="header-social-link"
          href="#"
          target="_blank"
          rel="noopener noreferrer nofollow"
          ><svg class="header-social-icon" width="24" height="24">
            <use href="/img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item">
        <a
          class="header-social-link"
          href="#"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="header-social-icon" width="24" height="24">
            <use href="/img/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <!---------MOBILE MENU------------>
  <div class="header-mobile-wrap js-menu-container">
    <button type="button" class="header-close-btn js-close-menu">
      <svg class="header-close-icon" width="28" height="28">
        <use href="/img/sprite.svg#icon-close-28"></use>
      </svg>
    </button>
    <div class="container header-mobile-wrapper">
      <div class="header-mobile-menu-wrap">
        <ul class="header-mobile-menu">
          <li class="header-mobile-menu-item">
            <a class="header-mobile-menu-link current" href="#home">Home</a>
          </li>
          <li class="header-mobile-menu-item">
            <a class="header-mobile-menu-link" href="#how-its-made"
              >How it’s made?</a
            >
          </li>
          <li class="header-mobile-menu-item">
            <a class="header-mobile-menu-link" href="#our-products"
              >Our products</a
            >
          </li>
          <li class="header-mobile-menu-item">
            <a class="header-mobile-menu-link" href="#top-sellers"
              >Top sellers</a
            >
          </li>
          <li class="header-mobile-menu-item">
            <a class="header-mobile-menu-link" href="#chocolate-is-loved"
              >Chocolate is loved</a
            >
          </li>
        </ul>
      </div>

      <ul class="header-mobile-social-list">
        <li class="header-mobile-social-item">
          <a
            class="header-mobile-social-link"
            href="#"
            target="_blank"
            rel="noopener noreferrer nofollow"
            ><svg class="header-mobile-social-icon" width="22" height="22">
              <use href="/img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-mobile-social-item">
          <a
            class="header-mobile-social-link"
            href="#"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="header-mobile-social-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>

<!--Якірні посилання
id="home"
id="how-its-made"
id="our-products"
id="top-sellers"
id="chocolate-is-loved"
-->
