<header>
  <div class="container header-wrap">
    <nav class="header-nav">
      <a class="header-logo" href="../index.html"
        ><span>SIMPLY</span>&nbsp;CHOCOLATE
        <svg class="header-logo-choco-little" width="21" height="21">
          <use href="../img/sprite.svg#icon-choco-logo21"></use>
        </svg>
        <svg class="header-logo-choco-big" width="24" height="24">
          <use href="../img/sprite.svg#icon-choco-logo24"></use>
        </svg>
      </a>
      <ul class="header-menu">
        <li class="header-menu-item">
          <a class="header-menu-link" href="#">Home</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#">How it’s made?</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#">Our products</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#">Top sellers</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#">Chocolate is loved</a>
        </li>
      </ul>
    </nav>
    <button class="header-burger" type="button">
      <svg class="header-burger-icon-little" width="28" height="28">
        <use href="../img/sprite.svg#icon-mob-burger"></use>
      </svg>
      <svg class="header-burger-icon-big" width="32" height="32">
        <use href="../img/sprite.svg#icon-tablet-burger"></use>
      </svg>
    </button>
    <ul class="header-social-list">
      <li class="header-social-item">
        <a class="header-social-link" href="#"
          ><svg class="header-social-icon" width="24" height="24">
            <use href="../img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item">
        <a class="header-social-link" href="#">
          <svg class="header-social-icon" width="24" height="24">
            <use href="../img/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
    <!---------MOBILE MENU------------>
    <div class="header-mobile-wrap">
      <button type="button" class="header-close-btn">
        <svg class="header-close-icon" width="28" height="28">
          <use href="../img/sprite.svg#icon-close-28"></use>
        </svg>
      </button>
      <ul class="header-mobile-menu">
        <li class="header-mobile-menu-item">
          <a class="header-mobile-menu-link" href="#">Home</a>
        </li>
        <li class="header-mobile-menu-item">
          <a class="header-mobile-menu-link" href="#">How it’s made?</a>
        </li>
        <li class="header-mobile-menu-item">
          <a class="header-mobile-menu-link" href="#">Our products</a>
        </li>
        <li class="header-mobile-menu-item">
          <a class="header-mobile-menu-link" href="#">Top sellers</a>
        </li>
        <li class="header-mobile-menu-item">
          <a class="header-mobile-menu-link" href="#">Chocolate is loved</a>
        </li>
      </ul>
      <ul class="header-mobile-social-list">
        <li class="header-mobile-social-item">
          <a class="header-mobile-social-link" href="#"
            ><svg class="header-mobile-social-icon" width="22" height="22">
              <use href="../img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-mobile-social-item">
          <a class="header-mobile-social-link" href="#">
            <svg class="header-mobile-social-icon" width="20" height="20">
              <use href="../img/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
