<!-- Hero Section -->
<section class="hero">
  <div class="container container-hero">
    <h1 class="visually-hidden">Simply Chocolate</h1>
    <h2 class="hero-title">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h2>
    <div class="hero-contant-wrapper">
      <div class="hero-btn-wrapper">
        <button class="btn btn-buy" type="button" data-open-modal="2">
          Buy now
        </button>
        <a href="#how-its-made" class="btn btn-info"> How it’s made </a>
      </div>

      <a href="#footer-main" class="hero-scroll"
        ><p class="hero-scroll-text">scroll down</p>
        <div class="hero-scroll-icon-wrapper">
          <svg class="hero-scroll-icon" width="16" height="16">
            <use href="/img/sprite.svg#icon-scroll-down16"></use>
          </svg>
        </div>
      </a>
    </div>
  </div>
</section>
