<!-- Hero Section -->

<section class="hero">
  <div class="container container-hero">
    <h1 class="hero-title">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h1>
    <div class="hero-contant-wrapper">
      <div class="hero-btn-wrapper">
        <button class="btn btn-buy">Buy now</button>
        <button class="btn btn-info">How it’s made</button>
      </div>
      <ul class="hero-list">
        <li class="hero-item">
          <a class="hero-item-scroll-desc">scroll down</a>
        </li>
        <li class="hero-item">
          <button class="hero-scroll-down-btn" type="button">
            <svg class="hero-scroll-down-icon" width="16" height="16">
              <use href="/img/sprite.svg#icon-scroll-down16"></use>
            </svg>
            <svg class="hero-scroll-down-icon-tablet" width="22" height="22">
              <use href="/img/sprite.svg#icon-scroll-down22"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
