<!-- Our Products Section - Kostia Zinchenko -->

<section class="our-products-container container">
    <h2 class="our-products-title">OUR<span class="our-products-title-color">&#160;PRODUCTS</span> </h2>
    <ul class="our-products-list list">
        <li class="our-products-list-item">
            <img srcset="../img/common/our-products/orange1x.png 1x, ../img/common/our-products/orange2x.png 2x, ../img/common/our-products/orange3x.png 3x"
                src="../img/common/our-products/orange1x.png" alt="Cocholate: orange flavour" width="230" height="201">
            <p class="our-products-item-title">ORANGE</p>
            <p class="our-products-item-description">Dark chocolate</p>
            <button type="button" class="button our-products-item-price-btn">45 UAH</button>
        </li>
        <li class="our-products-list-item">
            <img srcset="../img/common/our-products/apple1x.png 1x, ../img/common/our-products/apple2x.png 2x, ../img/common/our-products/apple3x.png 3x"
                src="../img/common/our-products/apple1x.png" alt="Cocholate: apple and cranberry flavour" width="230"
                height="201">
            <p class="our-products-item-title">APPLE&amp;CRANBERRY</p>
            <p class="our-products-item-description">Milk chocolate</p>
            <button type="button" class="button our-products-item-price-btn">50 UAH</button>
        </li>
        <li class="our-products-list-item">
            <img srcset="../img/common/our-products/lime1x.png 1x, ../img/common/our-products/lime2x.png 2x, ../img/common/our-products/lime3x.png 3x"
                src="../img/common/our-products/lime1x.png" alt="Cocholate: lime and salt flavour" width="230"
                height="201">
            <p class="our-products-item-title">LIME&amp;SEA SALT</p>
            <p class="our-products-item-description">Dark chocolate</p>
            <button type="button" class="button our-products-item-price-btn">66 UAH</button>
        </li>
        <li class="our-products-list-item">
            <img srcset="../img/common/our-products/pineapple1x.png 1x, ../img/common/our-products/pineapple2x.png 2x, ../img/common/our-products/pineapple3x.png 3x"
                src="../img/common/our-products/pineapple1x.png" alt="Cocholate: pineapple flavour" width="230"
                height="201">
            <p class="our-products-item-title">PINEAPPLE</p>
            <p class="our-products-item-description">Dark chocolate</p>
            <button type="button" class="button our-products-item-price-btn">54 UAH</button>
        </li>
        <li class="our-products-list-item">
            <img srcset="../img/desktop/order/classic1x.png 1x, ../img/desktop/order/classic2x.png 2x, ../img/desktop/order/classic3x.png 3x"
                src="../img/desktop/order/classic1x.png" alt="Cocholate: classic" width="230" height="201">
            <p class="our-products-item-title">CLASSIC</p>
            <p class="our-products-item-description">Milk chocolate</p>
            <button type="button" class="button our-products-item-price-btn">45 UAH</button>
        </li>
        <li class="our-products-list-item">
            <img srcset="../img/desktop/order/honey1x.png 1x, ../img/desktop/order/honey2x.png 2x, ../img/desktop/order/honey3x.png 3x"
                src="../img/desktop/order/honey1x.png" alt="Cocholate: honey flavour" width="230" height="201">
            <p class="our-products-item-title">HONEY</p>
            <p class="our-products-item-description">Milk chocolate</p>
            <button type="button" class="button our-products-item-price-btn">50 UAH</button>
        </li>
        <li class="our-products-list-item">
            <img srcset="../img/desktop/order/roasted1x.png 1x, ../img/desktop/order/roasted2x.png 2x, ../img/desktop/order/roasted3x.png 3x"
                src="../img/desktop/order/roasted1x.png" alt="Cocholate: roasted fruits" width="230" height="201">
            <p class="our-products-item-title">Roasted fruits</p>
            <p class="our-products-item-description">Dark chocolate</p>
            <button type="button" class="button our-products-item-price-btn">66 UAH</button>
        </li>
        <li class="our-products-list-item">
            <img srcset="../img/desktop/order/white-classic1x.png 1x, ../img/desktop/order/white-classic2x.png 2x, ../img/desktop/order/white-classic3x.png 3x"
                src="../img/desktop/order/white-classic1x.png" alt="White cocholate: classic" width="230" height="201">
            <p class="our-products-item-title">CLASSIC</p>
            <p class="our-products-item-description">White chocolate</p>
            <button type="button" class="button our-products-item-price-btn">54 UAH</button>
        </li>
    </ul>
</section>