<!-- Our Products Section - Kostia Zinchenko -->

<section id="our-products" class="our-products">
  <div class="container products-content">
    <h2 class="our-products-title">
      OUR<span class="our-products-title-color">&#160;PRODUCTS</span>
    </h2>
    <!-- Slider main container -->

    <!-- Additional required wrapper -->
    <div class="slick our-products-list list">
      <div class="our-products-list-item">
        <picture>
          <source
            type="image/webp"
            srcset="
              /img/common/our-products/orange1x.webp 1x,
              /img/common/our-products/orange2x.webp 2x,
              /img/common/our-products/orange3x.webp 3x
            "
          />
          <source
            srcset="
              /img/common/our-products/orange1x.png 1x,
              /img/common/our-products/orange2x.png 2x,
              /img/common/our-products/orange3x.png 3x
            "
          />
          <img
            src="/img/common/our-products/orange1x.png"
            alt="Cocholate: orange flavour"
            width="230"
            height="201"
            loading="lazy"
          />
        </picture>

        <h3 class="our-products-item-title">ORANGE</h3>
        <p class="our-products-item-description">Dark chocolate</p>
        <button class="btn our-products-item-price-btn" type="button">
          45 UAH
        </button>
      </div>
      <div class="our-products-list-item">
        <picture>
          <source
            type="image/webp"
            srcset="
              /img/common/our-products/apple1x.webp 1x,
              /img/common/our-products/apple2x.webp 2x,
              /img/common/our-products/apple3x.webp 3x
            "
          />
          <source
            srcset="
              /img/common/our-products/apple1x.png 1x,
              /img/common/our-products/apple2x.png 2x,
              /img/common/our-products/apple3x.png 3x
            "
          />
          <img
            src="/img/common/our-products/apple1x.png"
            alt="Cocholate: apple and cranberry flavour"
            width="230"
            height="201"
            loading="lazy"
          />
        </picture>

        <h3 class="our-products-item-title">APPLE&amp;CRANBERRY</h3>
        <p class="our-products-item-description">Milk chocolate</p>
        <button class="btn our-products-item-price-btn" type="button">
          50 UAH
        </button>
      </div>
      <div class="our-products-list-item">
        <picture>
          <source
            type="image/webp"
            srcset="
              /img/common/our-products/lime1x.webp 1x,
              /img/common/our-products/lime2x.webp 2x,
              /img/common/our-products/lime3x.webp 3x
            "
          />
          <source
            srcset="
              /img/common/our-products/lime1x.png 1x,
              /img/common/our-products/lime2x.png 2x,
              /img/common/our-products/lime3x.png 3x
            "
          />
          <img
            src="/img/common/our-products/lime1x.png"
            alt="Cocholate: lime and salt flavour"
            width="230"
            height="201"
            loading="lazy"
          />
        </picture>

        <h3 class="our-products-item-title">LIME&amp;SEA SALT</h3>
        <p class="our-products-item-description">Dark chocolate</p>
        <button class="btn our-products-item-price-btn" type="button">
          66 UAH
        </button>
      </div>
      <div class="our-products-list-item">
        <picture>
          <source
            type="image/webp"
            srcset="
              /img/common/our-products/pineapple1x.webp 1x,
              /img/common/our-products/pineapple2x.webp 2x,
              /img/common/our-products/pineapple3x.webp 3x
            "
          />
          <source
            srcset="
              /img/common/our-products/pineapple1x.png 1x,
              /img/common/our-products/pineapple2x.png 2x,
              /img/common/our-products/pineapple3x.png 3x
            "
          />
          <img
            src="/img/common/our-products/pineapple1x.png"
            alt="Cocholate: pineapple flavour"
            width="230"
            height="201"
            loading="lazy"
          />
        </picture>

        <h3 class="our-products-item-title">PINEAPPLE</h3>
        <p class="our-products-item-description">Dark chocolate</p>
        <button class="btn our-products-item-price-btn" type="button">
          54 UAH
        </button>
      </div>
      <div class="our-products-list-item">
        <picture>
          <source
            type="image/webp"
            srcset="
              /img/desktop/order/classic1x.webp 1x,
              /img/desktop/order/classic2x.webp 2x,
              /img/desktop/order/classic3x.webp 3x
            "
          />
          <source
            srcset="
              /img/desktop/order/classic1x.png 1x,
              /img/desktop/order/classic2x.png 2x,
              /img/desktop/order/classic3x.png 3x
            "
          />
          <img
            src="/img/desktop/order/classic1x.png"
            alt="Cocholate: classic"
            width="230"
            height="201"
            loading="lazy"
          />
        </picture>

        <h3 class="our-products-item-title">CLASSIC</h3>
        <p class="our-products-item-description">Milk chocolate</p>
        <button class="btn our-products-item-price-btn" type="button">
          45 UAH
        </button>
      </div>
      <div class="our-products-list-item">
        <picture>
          <source
            type="image/webp"
            srcset="
              /img/desktop/order/honey1x.webp 1x,
              /img/desktop/order/honey2x.webp 2x,
              /img/desktop/order/honey3x.webp 3x
            "
          />
          <source
            srcset="
              /img/desktop/order/honey1x.png 1x,
              /img/desktop/order/honey2x.png 2x,
              /img/desktop/order/honey3x.png 3x
            "
          />
          <img
            src="/img/desktop/order/honey1x.png"
            alt="Cocholate: honey flavour"
            width="230"
            height="201"
            loading="lazy"
          />
        </picture>
        <h3 class="our-products-item-title">HONEY</h3>
        <p class="our-products-item-description">Milk chocolate</p>
        <button class="btn our-products-item-price-btn" type="button">
          50 UAH
        </button>
      </div>
      <div class="our-products-list-item">
        <picture>
          <source
            type="image/webp"
            srcset="
              /img/desktop/order/roasted1x.webp 1x,
              /img/desktop/order/roasted2x.webp 2x,
              /img/desktop/order/roasted3x.webp 3x
            "
          />
          <source
            srcset="
              /img/desktop/order/roasted1x.png 1x,
              /img/desktop/order/roasted2x.png 2x,
              /img/desktop/order/roasted3x.png 3x
            "
          />
          <img
            src="/img/desktop/order/roasted1x.png"
            alt="Cocholate: roasted fruits"
            width="230"
            height="201"
            loading="lazy"
          />
        </picture>
        <h3 class="our-products-item-title">Roasted fruits</h3>
        <p class="our-products-item-description">Dark chocolate</p>
        <button class="btn our-products-item-price-btn" type="button">
          66 UAH
        </button>
      </div>
      <div class="our-products-list-item">
        <picture>
          <source
            type="image/webp"
            srcset="
              /img/desktop/order/white-classic1x.webp 1x,
              /img/desktop/order/white-classic2x.webp 2x,
              /img/desktop/order/white-classic3x.webp 3x
            "
          />
          <source
            srcset="
              /img/desktop/order/white-classic1x.png 1x,
              /img/desktop/order/white-classic2x.png 2x,
              /img/desktop/order/white-classic3x.png 3x
            "
          />
          <img
            src="/img/desktop/order/white-classic1x.png"
            alt="White cocholate: classic"
            width="230"
            height="201"
            loading="lazy"
          />
        </picture>
        <h3 class="our-products-item-title">CLASSIC</h3>
        <p class="our-products-item-description">White chocolate</p>
        <button class="btn our-products-item-price-btn" type="button">
          54 UAH
        </button>
      </div>
    </div>
  </div>
</section>
