<!-- Reviews Section -->
<section class="reviews-section">
  <div class="container">
    <h2 class="reviews-section-tittle">
      <span class="reviews-section-tittle-brown">Chocolate</span> is loved
    </h2>
    <ul class="reviews-list">
      <li class="reviews-item">
        <img
          class="reviews-img"
          srcset="
            /img/common/reviewers/victoria1x.jpg 1x,
            /img/common/reviewers/victoria2x.jpg 2x,
            /img/common/reviewers/victoria3x.jpg 3x
          "
          src="/img/common/reviewers/victoria1x.jpg"
          alt="Victoria Dobrzhanska"
          width="80"
          height="80"
        />

        <div class="reviews-thumb">
          <h3 class="reviews-name">Victoria Dobrzhanska</h3>
          <p class="reviews-text">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </div>
      </li>
      <li class="reviews-item">
        <img
          class="reviews-img"
          srcset="
            /img/common/reviewers/nazar1x.jpg 1x,
            /img/common/reviewers/nazar2x.jpg 2x,
            /img/common/reviewers/nazar3x.jpg 3x
          "
          src="/img/common/reviewers/nazar1x.jpg"
          alt="Nazar Babenko"
          width="80"
          height="80"
        />

        <div class="reviews-thumb">
          <h3 class="reviews-name">Nazar Babenko</h3>
          <p class="reviews-text">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </div>
      </li>
      <li class="reviews-item">
        <img
          class="reviews-img"
          srcset="
            /img/common/reviewers/olena1x.jpg 1x,
            /img/common/reviewers/olena2x.jpg 2x,
            /img/common/reviewers/olena3x.jpg 3x
          "
          src="/img/common/reviewers/olena1x.jpg"
          alt="Olena Kampusch"
          width="80"
          height="80"
        />

        <div class="reviews-thumb">
          <h3 class="reviews-name">Olena Kampusch</h3>
          <p class="reviews-text">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </div>
      </li>

      <li class="reviews-item">
        <img
          class="reviews-img"
          srcset="
            /img/common/reviewers/natalia1x.jpg 1x,
            /img/common/reviewers/natalia2x.jpg 2x,
            /img/common/reviewers/natalia3x.jpg 3x
          "
          src="/img/common/reviewers/natalia1x.jpg"
          alt="Olena Kampusch"
          width="80"
          height="80"
        />

        <div class="reviews-thumb">
          <h3 class="reviews-name">Danilo Nottingham</h3>
          <p class="reviews-text">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </div>
      </li>

      <li class="reviews-item">
        <img
          class="reviews-img"
          srcset="
            /img/common/reviewers/danilo1x.jpg 1x,
            /img/common/reviewers/danilo2x.jpg 2x,
            /img/common/reviewers/danilo3x.jpg 3x
          "
          src="/img/common/reviewers/danilo1x.jpg"
          alt="Olena Kampusch"
          width="80"
          height="80"
        />

        <div class="reviews-thumb">
          <h3 class="reviews-name">Irina Tydnyuk</h3>
          <p class="reviews-text">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </div>
      </li>
      <li class="reviews-item">
        <img
          class="reviews-img"
          srcset="
            /img/common/reviewers/irina1x.jpg 1x,
            /img/common/reviewers/irina2x.jpg 2x,
            /img/common/reviewers/irina3x.jpg 3x
          "
          src="/img/common/reviewers/irina1x.jpg"
          alt="Olena Kampusch"
          width="80"
          height="80"
        />

        <div class="reviews-thumb">
          <h3 class="reviews-name">Irina Tydnyuk</h3>
          <p class="reviews-text">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </div>
      </li>
    </ul>
    <button type="button" class="btn btn-review">Leave a review</button>
  </div>
</section>
