<div class="backdrop is-hidden" data-modal="4">
  <div class="success-modal-wrap">
    <button class="success-modal-close-btn" data-close-modal>
      <svg class="success-modal-icon" width="16" height="16">
        <use href="./img/sprite.svg#icon-close-28"></use>
      </svg>
    </button>
    <p class="success-modal-title">thank you!</p>
    <p class="success-modal-text">
      We are glad that you ordered our chocolate and we are giving you a 20%
      discount on all our products.
    </p>
  </div>
</div>
