<!-- Buy-Now -->

<div class="backdrop is-hidden" data-modal="4">
  <div class="success-modal-wrap">
    <button class="success-modal-close-btn" data-close-modal>
      <svg class="success-modal-icon" width="16" height="16">
        <use href="./img/sprite.svg#icon-close-28"></use>
      </svg>
    </button>
    <p class="success-modal-title">thank you!</p>
    <p class="success-modal-text">
      We are glad that you ordered our chocolate and we are giving you a 20%
      discount on all our products.
    </p>
  </div>
</div>

<!-- Feedback -->

<div class="backdrop is-hidden" data-modal="5">
  <div class="success-modal-wrap">
    <button class="success-modal-close-btn" data-close-modal>
      <svg class="success-modal-icon" width="16" height="16">
        <use href="./img/sprite.svg#icon-close-28"></use>
      </svg>
    </button>
    <p class="success-modal-title">thank you for your feedback!</p>
    <p class="success-modal-text">We are so happy to hear from you!</p>
  </div>
</div>

<!-- Subscribe -->

<div class="backdrop is-hidden" data-modal="6">
  <div class="success-modal-wrap">
    <button class="success-modal-close-btn" data-close-modal>
      <svg class="success-modal-icon" width="16" height="16">
        <use href="./img/sprite.svg#icon-close-28"></use>
      </svg>
    </button>
    <p class="success-modal-title">Thank you for your subscribe!</p>
    <p class="success-modal-text">You will be hearing from us soon!</p>
  </div>
</div>
