<!-- Top Sellers -->

<section id="top-sellers" class="top-sellers">
  <div class="container">
    <h2 class="top-sellers-title">
      <span class="top-sellers-title_accent">Top</span> Sellers
    </h2>

    <ul class="top-sellers-list">
      <li class="top-sellers-item">
        <!-- choco-beans -->
        <picture>
          <source
            srcset="
              /img/desktop/top-sellers/choco-beans1x.jpg 1x,
              /img/desktop/top-sellers/choco-beans2x.jpg 2x,
              /img/desktop/top-sellers/choco-beans3x.jpg 3x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/tablet/top-sellers/choco-beans1x.jpg 1x,
              /img/tablet/top-sellers/choco-beans2x.jpg 2x,
              /img/tablet/top-sellers/choco-beans3x.jpg 3x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              /img/mobile/top-sellers/choco-beans1x.jpg 1x,
              /img/mobile/top-sellers/choco-beans2x.jpg 2x,
              /img/mobile/top-sellers/choco-beans3x.jpg 3x
            "
            media="(max-width: 767px)"
          />
          <!-- 
          <source
            srcset="
              /img/mobile/top-sellers/choco-beans1x.jpg 1x,
              /img/mobile/top-sellers/choco-beans2x.jpg 2x,
              /img/mobile/top-sellers/choco-beans3x.jpg 3x
            "
            media="(min-width: 320px)"
          /> -->

          <img
            class="top-sellers-img top-seller-img_margin"
            src="/img/mobile/top-sellers/choco-beans1x.jpg 1x"
            alt="Chocolate and Coffee Beans"
            width="368"
            loading="lazy"
          />
        </picture>
        <p class="top-sellets-item-info">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="top-sellers-item">
        <!-- choco-milk -->
        <picture>
          <source
            srcset="
              /img/desktop/top-sellers/choco-milk1x.jpg 1x,
              /img/desktop/top-sellers/choco-milk2x.jpg 2x,
              /img/desktop/top-sellers/choco-milk3x.jpg 3x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/tablet/top-sellers/choco-milk1x.jpg 1x,
              /img/tablet/top-sellers/choco-milk2x.jpg 2x,
              /img/tablet/top-sellers/choco-milk3x.jpg 3x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              /img/mobile/top-sellers/choco-milk1x.jpg 1x,
              /img/mobile/top-sellers/choco-milk2x.jpg 2x,
              /img/mobile/top-sellers/choco-milk3x.jpg 3x
            "
            media="(max-width: 767px)"
          />

          <source
            srcset="
              /img/mobile/top-sellers/choco-milk1x.jpg 1x,
              /img/mobile/top-sellers/choco-milk2x.jpg 2x,
              /img/mobile/top-sellers/choco-milk3x.jpg 3x
            "
            media="(min-width: 320px)"
          />

          <img
            class="top-sellers-img"
            src="/img/mobile/top-sellers/choco-milk1x.jpg 1x"
            alt="Chocolate and Coffee Beans"
            width="368"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="top-sellers-item top-sellers-hidden">
        <img
          class="top-sellers-img"
          srcset="
            /img/desktop/top-sellers/dark-choco1x.jpg 1x,
            /img/desktop/top-sellers/dark-choco2x.jpg 2x,
            /img/desktop/top-sellers/dark-choco3x.jpg 3x
          "
          media="(min-width: 1200px)"
          src="/img/tablet/top-sellers/dark-choco1x.jpg"
          alt="Chocolate and Coffee Beans"
          width="368"
          loading="lazy"
        />
      </li>
    </ul>
    <div class="top-seller-btn-wrapper">
      <p class="top-sellets-item-info top-sellets-item-info-vis">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button class="btn top-sellers-btn" type="button" data-open-modal="2">
        Buy now
      </button>
    </div>
  </div>
</section>
