<section class="unique-components">
    <div class="container">
        <h2 class="unique-components-title">
            IT ALL ADDS UP TO ONE EXCEPTIONAL <span class="accent">TASTE</span> SENSATION
        </h2>
        <p class="unique-components-description">
            At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From the
            sourcing of the finest ingredients to the careful crafting of each individual piece, every step of our
            process adds up to one exceptional taste sensation.
        </p>
        <ul class="unique-components-list">
            <li class="unique-components-list-item">
                <picture class="uniqu-components-picture">
                    <source
                        srcset="/src/img/desktop/milk-chocolate1x.png 1x, /src/img/desktop/milk-chocolate2x.png 2x, /src/img/desktop/milk-chocolate3x.png 3x"
                        media="(min-width: 1200px)" />
                    <source
                        srcset="/src/img/tab-and-mob/taste-sensation/milk-choko1x.png 1x, /src/img/tab-and-mob/taste-sensation/milk-choko2x.png 2x, /src/img/tab-and-mob/taste-sensation/milk-choko3x.png 3x"
                        media="(min-width: 320px)" width="244" />

                    <img class="uniqu-components-img" src="/src/img/desktop/milk-chocolate1x.png" alt="milk-chocolate"
                        width="206">
                </picture>
                <p class="unique-components-list-item-title">
                    MILK CHOCOLATE
                </p>
            </li>
            <li class="unique-components-list-item">
                <picture class="uniqu-components-picture">
                    <source
                        srcset="/src/img/desktop/milk1x.png 1x, /src/img/desktop/milk2x.png 2x, /src/img/desktop/milk3x.png 3x"
                        media="(min-width: 1200px)" />
                    <source
                        srcset="/src/img/tab-and-mob/taste-sensation/milk1x.png 1x, /src/img/tab-and-mob/taste-sensation/milk2x.png 2x, /src/img/tab-and-mob/taste-sensation/milk3x.png 3x"
                        media="(min-width: 320px)" width="244" />

                    <img class="uniqu-components-img" src="/src/img/desktop/milk1x.png" alt="milk" width="206">
                </picture>
                <p class="unique-components-list-item-title">
                    MILK
                </p>
            </li>
            <li class="unique-components-list-item">
                <picture class="uniqu-components-picture">
                    <source
                        srcset="/src/img/desktop/nuts1x.png 1x, /src/img/desktop/nuts2x.png 2x, /src/img/desktop/nuts2x.png 3x"
                        media="(min-width: 1200px)" />
                    <source
                        srcset="/src/img/tab-and-mob/taste-sensation/nuts1x.png 1x, /src/img/tab-and-mob/taste-sensation/nuts2x.png 2x, /src/img/tab-and-mob/taste-sensation/nuts3x.png 3x"
                        media="(min-width: 320px)" width="244" />

                    <img class="uniqu-components-img" src="/src/img/desktop/nuts1x.png" alt="nuts" width="206">
                </picture>
                <p class="unique-components-list-item-title">
                    NUTS
                </p>
            </li>
            <li class="unique-components-list-item">
                <picture class="uniqu-components-picture">
                    <source
                        srcset="/src/img/desktop/sweet-chocolate1x.png 1x, /src/img/desktop/sweet-chocolate2x.png 2x, /src/img/desktop/sweet-chocolate3x.png 3x"
                        media="(min-width: 1200px)" />
                    <source
                        srcset="/src/img/tab-and-mob/taste-sensation/beans1x.png 1x, /src/img/tab-and-mob/taste-sensation/beans2x.png 2x, /src/img/tab-and-mob/taste-sensation/beans3x.png 3x"
                        media="(min-width: 320px)" width="244" />

                    <img class="uniqu-components-img" src="/src/img/desktop/sweet-chocolate1x.png" alt="sweet-chocolate"
                        width="206">
                </picture>
                <p class="unique-components-list-item-title">
                    SEMI - SWEET CHOCOLATE
                </p>
            </li>
        </ul>
    </div>

</section>