<section class="unique-components">
    <div class="container">
        <h2 class="unique-components-title">
            IT ALL ADDS UP TO ONE EXCEPTIONAL <span class="accent">TASTE</span> SENSATION
        </h2>
        <p class="unique-components-description">
            At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From the
            sourcing of the finest ingredients to the careful crafting of each individual piece, every step of our
            process adds up to one exceptional taste sensation.
        </p>
        <ul class="unique-components-list">
            <li class="unique-components-list-item">
                <picture class="uniqu-components-picture">
                    <source
                        srcset="/img/desktop/milk-chocolate1x.png 1x, /img/desktop/milk-chocolate2x.png 2x, /img/desktop/milk-chocolate3x.png 3x"
                        media="(min-width: 1200px)" />
                    <source
                        srcset="/img/tab-and-mob/taste-sensation/milk-choko1x.png 1x, /img/tab-and-mob/taste-sensation/milk-choko2x.png 2x, /img/tab-and-mob/taste-sensation/milk-choko3x.png 3x"
                        media="(min-width: 320px)" width="244" />

                    <img class="uniqu-components-img" src="/img/desktop/milk-chocolate1x.png" alt="milk-chocolate"
                        width="206" />
                </picture>
                <p class="unique-components-list-item-title">
                    MILK CHOCOLATE
                </p>
                <div class="overlay">
                    <h3 class="flip-title">Milk chocolate</h3>
                    <div class="wrap-flip-btn">
                        <button class="flip-btn" type="button">chocolate</button>
                        <button class="flip-btn" type="button">the benefits</button>
                    </div>
                    <p class="flip-description">Milk chocolate is a solid chocolate confectionery containing
                        cocoa,
                        sugar
                        and milk. It is the most consumed type of chocolate. Chocolate was originally sold and
                        consumed
                        as a
                        beverage in pre-Columbian times. Although four-fifths of all milk chocolate is sold in
                        the
                        United
                        States and Europe, increasingly large amounts are consumed in China and Latin America.
                    </p>
                </div>

            </li>
            <li class="unique-components-list-item">
                <picture class="uniqu-components-picture">
                    <source srcset="/img/desktop/milk1x.png 1x, /img/desktop/milk2x.png 2x, /img/desktop/milk3x.png 3x"
                        media="(min-width: 1200px)" />
                    <source
                        srcset="/img/tab-and-mob/taste-sensation/milk1x.png 1x, /img/tab-and-mob/taste-sensation/milk2x.png 2x, /img/tab-and-mob/taste-sensation/milk3x.png 3x"
                        media="(min-width: 320px)" width="244" />

                    <img class="uniqu-components-img" src="/img/desktop/milk1x.png" alt="milk" width="206" />
                </picture>
                <p class="unique-components-list-item-title">
                    MILK
                </p>
                <div class="overlay">
                    <h3 class="flip-title">MILK</h3>
                    <div class="wrap-flip-btn">
                        <button class="flip-btn" type="button">milk</button>
                        <button class="flip-btn" type="button">the benefits</button>
                    </div>
                    <p class="flip-description">Milk is a white liquid food produced by the mammary glands of mammals.
                        It is the primary source of nutrition for young mammals (including breastfed human infants)
                        before they are able to digest solid food.Early-lactation milk, which is called colostrum,
                        contains antibodies that strengthen the immune system, and thus reduces the risk of many
                        diseases. Milk contains many nutrients, including protein and lactose.</p>
                </div>
            </li>
            <li class="unique-components-list-item">
                <picture class="uniqu-components-picture">
                    <source srcset="/img/desktop/nuts1x.png 1x, /img/desktop/nuts2x.png 2x, /img/desktop/nuts2x.png 3x"
                        media="(min-width: 1200px)" />
                    <source
                        srcset="/img/tab-and-mob/taste-sensation/nuts1x.png 1x, /img/tab-and-mob/taste-sensation/nuts2x.png 2x, /img/tab-and-mob/taste-sensation/nuts3x.png 3x"
                        media="(min-width: 320px)" width="244" />

                    <img class="uniqu-components-img" src="/img/desktop/nuts1x.png" alt="nuts" width="206" />
                </picture>
                <p class="unique-components-list-item-title">
                    NUTS
                </p>
                <div class="overlay">
                    <h3 class="flip-title">NUTS</h3>
                    <div class="wrap-flip-btn">
                        <button class="flip-btn" type="button">nuts</button>
                        <button class="flip-btn" type="button">the benefits</button>
                    </div>
                    <p class="flip-description">Almonds, pistachios, and walnuts are some types of nuts that contain
                        healthy nutrients. When eaten as part of a nutrient-dense diet, these 9 nuts may offer benefits
                        such as reducing your risk of heart disease. They’re a good source of fiber, healthy fats, and
                        plant protein. Plus, they’re great on their own, paired with fruit, or added to dishes like
                        salads, desserts, and grains.</p>
                </div>
            </li>
            <li class="unique-components-list-item">
                <picture class="uniqu-components-picture">
                    <source
                        srcset="/img/desktop/sweet-chocolate1x.png 1x, /img/desktop/sweet-chocolate2x.png 2x, /img/desktop/sweet-chocolate3x.png 3x"
                        media="(min-width: 1200px)" />
                    <source
                        srcset="/img/tab-and-mob/taste-sensation/beans1x.png 1x, /img/tab-and-mob/taste-sensation/beans2x.png 2x, /img/tab-and-mob/taste-sensation/beans3x.png 3x"
                        media="(min-width: 320px)" width="244" />

                    <img class="uniqu-components-img" src="/img/desktop/sweet-chocolate1x.png" alt="sweet-chocolate"
                        width="206" />
                </picture>
                <p class="unique-components-list-item-title">
                    SEMI - SWEET CHOCOLATE
                </p>
                <div class="overlay">
                    <h3 class="flip-title">SEMI - SWEET CHOCOLATE</h3>
                    <div class="wrap-flip-btn">
                        <button class="flip-btn" type="button">sweet chocolate</button>
                        <button class="flip-btn" type="button">the benefits</button>
                    </div>
                    <p class="flip-description">Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the
                        best ways to gain an understanding of this type of chocolate is to compare it to a different
                        type of chocolate. Semisweet is darker than milk chocolate. In a taste comparison, it has a
                        slightly bitter taste whereas milk chocolate is sweeter and more mellow. This delectable flavor
                        of chocolate is very versatile.</p>
                </div>
            </li>
        </ul>
    </div>

</section>