/* Modal Window - Buy Now */

.buy-now {
    /* position: relative; */
    background: #FAFAFA;
    
    padding: 32px 24px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    min-width: 311px;
    min-height: 471px;
    background-color: var(--body-bg-color);
}

.buy-close-btn {
    position: absolute;
    border: none;

    background-color: transparent;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 14px;
    right: 14px;

    
}

.buy-close-btn-icon {
    width: 24px;
    height: 24px;
}

.buy-text {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;

    color: #111111;
    margin-bottom: 32px;

}

.buy-form {
    display: flex;
    flex-direction: column;

}

.buy-span {
    color: #FD9222;
}

.buy-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin-bottom: 32px;

}

.buy-input-wrapper {
    position: relative;
}

.buy-item {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buy-list-btn {
    padding: 6px 16px;
    background: #FAFAFA;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;


    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: var(--primary-color);
}

.buy-form-descr {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    color: #000000;
    margin-bottom: 8px;
}

.buy-form-field {
    margin-bottom: 18px;

}

.buy-form-input {

    padding: 14px 18px;
    width: 100%;
    position: relative;

    border: 1.5px solid rgba(17, 17, 17, 0.05);
    filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
    border-radius: 8px;

    font-size: 14px;
    line-height: 1.21;
    transition: border-color .25s cubic-bezier(.4, 0, .2, 1);

}

.buy-phone-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
}

.buy-card-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 12px;

    position: absolute;
    width: 32px;
    height: 21px;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);

}


.phone-icon {
    position: absolute;
    display: flex;
    left: 20px;
    bottom: 11px;
    text-align: center;
}

.buy-input-wrapper {
    position: relative;
    display: block;
}

.buy-form-input-tel {
    padding-left: 106px;
}

.buy-input-tel-text {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -.02em;
}

.buy-input-tel-text::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: -5px;
    right: -8px;
    width: 1px;
    height: 32px;
    background-color: #4040404d;
}

.buy-message {
    display: block;
    width: 100%;
    height: 137px;
    padding: 14px 18px;
    margin-bottom: 18px;
    border: 1.5px solid rgba(17, 17, 17, .05);
    border-radius: 8px;
    box-shadow: 0 5.44px 5.44px #00000008;
    resize: none;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: -.02em;
    transition: border-color .25s cubic-bezier(.4, 0, .2, 1);
}

.buy-submit-btn {
    border: none;
    border-radius: 100px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: .02em;
    color: var(--white-color);
    transition: color .25s cubic-bezier(.4, 0, .2, 1), background-color .25s cubic-bezier(.4, 0, .2, 1);

    width: 109px;
    height: 41px;

    background: #FD9222;
}

.buy-submit-btn:hover,
.buy-submit-btn:focus {
    color: var(--main-accent-color);
    background-color: var(--btn-bg-hover);
}

.buy-form-input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;

    color: rgba(64, 64, 64, 0.3);
}


@media screen and (min-width: 768px) {
    .container {
        width: 734px;
    }

    .buy-text {
        font-size: 24px;
        line-height: 1.17;
    }

    .buy-list{
        display: flex;
        flex-wrap: nowrap;
        gap: 16px;
        
    }

    .buy-item{
        display: block;
        max-width: 160px;
        padding: 24px 20px 18px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .buy-now{
        min-width: 517px;
        min-height: 631px;
    }

    .buy-list-btn{
        display: block;
        margin-top: 14px;
        margin-right: auto;
        margin-left: auto;
        
    }

   

    .buy-imput-name{
        display: flex;
        gap: 18px;
    }
    
}
