/* Explore-News Modal Window */

.modal-explore-new {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;

  min-width: 311px;
  min-height: 350px;
  background-color: var(--body-bg-color);
}

.modal-explore-new-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: transparent;
  padding: 6px;
}

.modal-explore-new-close-btn-icon {
  fill: var(--white-color);
}

.modal-explore-new-close-btn:hover .modal-explore-new-close-btn-icon,
.modal-explore-new-close-btn:focus .modal-explore-new-close-btn-icon {
  fill: var(--main-accent-color);
}

.explore-new_box {
  width: 100%;
  height: 100%;
  padding: 32px 24px;
}
.explore-new-img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.modal-explore-new-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.modal-explore-new-text-accent {
  color: var(--main-accent-color);
  text-transform: uppercase;
}

.modal-explore-new-input {
  padding: 14px 18px;
  width: 100%;
  min-height: 45px;

  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 25px;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;

  box-shadow: 0px 5.44px 5.44px rgba(0, 0, 0, 0.03);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-leave-review-input:focus:focus {
  outline: none;
  border-color: var(--main-accent-color);
}
.modal-explore-new-form-filed .modal-explore-new-input::placeholder {
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.modal-explore-new-form-sumbit {
  top: 50%;
  left: 100%;
  transform: translate(-100%, -50%);
  position: absolute;
  min-width: 100px;
  min-height: 45px;
  padding: 14px 22px;
  background-color: var(--main-accent-color);
  border: none;
  align-self: center;
  border-radius: 100px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: var(--white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-explore-new-form-sumbit:hover,
.modal-explore-new-form-sumbit:focus {
  color: var(--main-accent-color);
  background-color: var(--btn-bg-hover);
}
.modal-explore-new-wrapper {
  position: relative;
}

/*============ Tablet-Desctop ============*/

@media screen and (min-width: 768px) {
  .modal-explore-new {
    min-width: 538px;
    min-height: 412px;
  }
  .modal-explore-new-close-btn-icon {
    width: 28px;
    height: 28px;
  }
  .modal-explore-new-close-btn {
    top: 18px;
    right: 18px;
  }
  .explore-new_box {
    padding: 40px;
  }
  .modal-explore-new-text {
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    margin-bottom: 28px;
  }
  .modal-explore-new-form-sumbit {
    padding: 16px 42px;
    min-width: 137px;
    min-height: 52px;
  }
  .modal-explore-new-input {
    min-width: 313px;
    min-height: 52px;
    font-size: 18px;
    line-height: 1.22;
  }
  .modal-explore-new-form-filed .modal-explore-new-input::placeholder {
    font-size: 18px;
    line-height: 1.22;
  }
  .modal-explore-new-wrapper {
    display: flex;
    gap: 8px;
  }
}
