/*  Footer  */
.container {
    width: 365px;
}


.footer {
    background-color: #1E1823;
    padding-top: 32px;
    padding-bottom: 32px;
}

.footer-logo {
    color: #FD9222;
}

.footer-text {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    color: #ffffff;
    margin-bottom: 32px;
    
}

.footer-contacts-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;

    color: #ffffff;
    margin-bottom: 14px;
    text-decoration: none;
}

.footer-contacts-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #ffffff;
}

.footer-menu-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #ffffff;
}

.footer-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 18px;
}


.footer-contacts-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

}

.footer-contacts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}


.footer-icon-list {
    display: flex;

}

.footer-icon-item {
    display: flex;
    width: 22px;
    height: 22px;
    fill: #ffffff;
    margin-left: 14px;
}

.footer-icon-list:first-child {
    margin-left: 0;
}

.footer-menu::before {

    max-width: 100%;
    content: "";
    display: block;
    width: 335px;
    height: 0px;

    border: 1px solid rgba(255, 255, 255, 0.1);
    transform: rotate(180deg);
    margin-bottom: 32px;
}



@media screen and (min-width: 768px) {
    .container {
        width: 734px;
    }

    .footer-contacts-container {
        display: flex;
        justify-content: space-between;
    }

    .footer-menu-list {

        flex-direction: row;
        gap: 24px;
    }

    .footer-text {
        font-size: 28px;
        line-height: 1.21;
    
    }

    .footer-icon-item{
        width: 24px;
        height: 24px;
    }

    .footer-menu::before{
        width: 704px;
    }
}


@media screen and (min-width: 1200px) {
    .container {
      width: 1166px;
    }

    .footer-menu::before{
        width: 1136px;
    }
  }












@media screen and (min-width: 375px) {

    .container {
        width: 365px;
    }

}