/* Header */

header {
  color: var(--primary-color);
}

.header-menu {
  display: none;
}

.header-social-list {
  display: none;
}

.header-burger {
  border: none;
  padding: 0;
  background-color: transparent;
  line-height: 0;
}

.header-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;

  padding-top: 25px;
  padding-bottom: 19px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
}

.header-logo > span {
  font-style: italic;
}

.header-logo-choco {
  margin-left: 4px;
}

/*=========Mobile menu======*/

.container.header-mobile-wrapper {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.header-mobile-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header-mobile-wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;

  height: 100%;
  width: 220px;

  padding-top: 136px;
  padding-left: 20px;
  padding-bottom: 20px;

  background-color: rgba(30, 24, 35, 1);

  overflow: auto;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transform: translateX(100%);

  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mobile-wrap.is-open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.header-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;

  padding: 0;

  border: none;
  background-color: transparent;
  line-height: 0;
  color: #ffffff;
}

.header-close-icon {
  fill: currentColor;
}

.header-mobile-menu-wrap {
  padding-left: 30px;
}

.header-mobile-menu-item:not(:last-child) {
  margin-bottom: 24px;
}

.header-mobile-menu-link {
  position: relative;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;

  color: #ffffff;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mobile-menu-link:hover, 
.header-mobile-menu-link:focus {
  color: rgba(253, 146, 34, 1);
}

.header-mobile-menu-link::after {
  position: absolute;
  top: 30px;

  content: " ";
  display: block;
  width: 0;
  height: 1px;
  background-color: rgba(253, 146, 34, 1);

  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mobile-menu-link:hover::after {
  width: 50%;
}

.header-mobile-menu-link:focus::after {
  width: 50%;
}

.header-mobile-social-list {
  display: flex;
  margin-top: auto;
  gap: 18px;
}

.header-mobile-social-link {
  display: flex;

  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.header-mobile-social-link:hover,
.header-mobile-social-link:focus {
  color: rgba(253, 146, 34, 1);
}
  
.header-mobile-social-icon {
  fill: currentColor;
}

@media screen and (min-width: 723px) and (max-width: 767px) {
  .header-mobile-wrap {
    width: 255px;
  }
}

/*======Tablet style=========*/
@media screen and (min-width: 768px) {

  .header-burger-icon {
    width: 32px;
    height: 32px;
  }

  .header-mobile-wrap {
    padding-top: 156px;
    padding-left: 32px;
    padding-bottom: 24px;

    width: 290px;
  }

  .header-close-btn {
    top: 24px;
    right: 32px;
    color: #ffffff;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-close-btn:hover,
  .header-close-btn:focus {
    color: rgba(253, 146, 34, 1);
  }

  .header-close-icon {
    width: 32px;
    height: 32px;
    fill: currentColor;
  }

  .header-mobile-menu-wrap {
    padding-left: 53px;
  }

  .header-mobile-social-list {
    bottom: 24px;
    left: 32px;
  }

  .header-mobile-social-icon {
    width: 24px;
    height: 24px;
  }
}

/*======Desktop style=========*/
@media screen and (min-width: 1200px) {
  .header-mobile-wrap {
    display: none;
  }

  .header-burger {
    display: none;
  }

  .header-logo {
    display: flex;
    align-items: center;

    margin-right: 188px;
    padding-top: 26px;
    padding-bottom: 34px;

    font-size: 18px;
    line-height: 1.11;
  }

  .header-logo-choco {
    width: 24px;
    height: 24px;
    
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-menu {
    display: flex;
    gap: 24px;
  }

  .header-menu-link {
    display: block;

    position: relative;

    padding-top: 28px;
    padding-bottom: 36px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-menu-link:hover,
  .header-menu-link:focus {
    color: rgba(253, 146, 34, 1);
  }

  .header-menu-link::after {
    position: absolute;
    bottom: 28px;

    content: " ";
    display: block;
    width: 0;
    height: 1px;
    background-color: rgba(253, 146, 34, 1);

    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-menu-link:hover::after {
    width: 50%;
  }

  .header-menu-link:focus::after {
    width: 50%;
  }

  .header-social-list {
    display: flex;
    gap: 18px;

    margin-left: auto;
  }

  .header-social-link {
    display: block;

    padding-top: 24px;
    padding-bottom: 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-social-link:hover,
  .header-social-link:focus {
    color: rgba(253, 146, 34, 1);
  }

  .header-social-icon {
    display: block;

    fill: currentColor;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-social-icon:hover,
  .header-social-icon:focus {
    transform: scale(1.1);
  }
}
