/* Hero Section */

.hero {
  padding-bottom: 72px;
  outline: 1px solid red;
}

.container-hero {
  padding-top: 395px;
  padding-bottom: 27px;
  background-image: url('/img/mobile/hero1x.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;

  border-radius: 30px;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .container-hero {
    background-image: url('/img/mobile/hero2x.jpg');
  }
}

@media (min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .container-hero {
    background-image: url('/img/mobile/hero3x.jpg');
  }
}

.hero-title {
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: -0.03em;
  color: var(--white-color);
}

.hero-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 14px;
  margin-bottom: 32px;
}

.btn-buy {
  width: 100%;
  max-width: 120px;
}

.btn-info {
  min-width: 159px;
}

.hero-list {
  display: flex;
  align-items: center;
  gap: 12px;
}

.hero-item-scroll-desc {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: -0.03em;
  color: var(--white-color);
}

.hero-scroll-down-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background-color: var(--white-color);
}

.hero-scroll-down-icon {
  fill: var(--main-accent-color);
}

/* MEDIA Mobile */

@media screen and (min-width: 375px) {
  .container-hero {
    background-image: url('/img/mobile/hero1x.jpg');
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .container-hero {
      background-image: url('/img/mobile/hero2x.jpg');
    }
  }

  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .container-hero {
      background-image: url('/img/mobile/hero3x.jpg');
    }
  }
}
