/* Hero Section */
.hero {
  padding-bottom: 72px;
}

.container-hero {
  padding-top: 27px;
  padding-bottom: 27px;
  height: 621px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  /* Для Chrome и Safari */
  background-image: -webkit-image-set(
      url('/img/mobile/hero/hero3x.avif') 3x,
      url('/img/mobile/hero/hero2x.avif') 2x,
      url('/img/mobile/hero/hero1x.avif') 1x,
      url('/img/mobile/hero/hero3x.webp') 3x,
      url('/img/mobile/hero/hero2x.webp') 2x,
      url('/img/mobile/hero/hero1x.webp') 1x,
      url('/img/mobile/hero3x.jpg') 3x,
      url('/img/mobile/hero2x.jpg') 2x,
      url('/img/mobile/hero1x.jpg') 1x
    ),
    linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%);

  /* Для Firefox */
  background-image: -webkit-image-set(
      url('/img/mobile/hero/hero3x.avif') type('image/avif') 3x,
      url('/img/mobile/hero/hero2x.avif') type('image/avif') 2x,
      url('/img/mobile/hero/hero1x.avif') type('image/avif') 1x,
      url('/img/mobile/hero/hero3x.webp') type('image/webp') 3x,
      url('/img/mobile/hero/hero2x.webp') type('image/webp') 2x,
      url('/img/mobile/hero/hero1x.webp') type('image/webp') 1x,
      url('/img/mobile/hero3x.jpg') 3x,
      url('/img/mobile/hero2x.jpg') 2x,
      url('/img/mobile/hero1x.jpg') 1x
    ),
    linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;

  border-radius: 30px;
}

.hero-title {
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: -0.03em;
  color: var(--white-color);
}

.hero-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 14px;
  margin-bottom: 32px;
}

/* ===== Buttons =========*/
.btn-buy {
  width: 100%;
  max-width: 122px;
}

.btn.btn-buy {
  background-color: var(--main-accent-color);
  border-color: var(--main-accent-color);
}

.btn-info {
  min-width: 159px;

  /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1); */

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 30ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn.btn-info:hover,
.btn.btn-info:focus {
  color: var(--main-accent-color);
  background-color: transparent;
  border: 1px solid var(--main-accent-color);
  transform: scale(1.1);
}

.btn.btn-info:active {
  color: var(--main-accent-color);
  background-color: transparent;
  border: 1px solid var(--main-accent-color);
  transform: scale(1.1);
}

/* / Buttons  */

/* new scroll */
.hero-scroll {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: -0.03em;
  color: var(--white-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-scroll:hover,
.hero-scroll:focus {
  transform: scale(1.1);
  color: var(--main-accent-color);
}

.hero-scroll:active {
  transform: scale(1.1);
  color: var(--main-accent-color);
}

.hero-scroll-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background-color: var(--white-color);
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-scroll-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-scroll:hover .hero-scroll-icon-wrapper,
.hero-scroll:focus .hero-scroll-icon-wrapper {
  background-color: var(--main-accent-color);
}

.hero-scroll:active .hero-scroll-icon-wrapper {
  background-color: var(--main-accent-color);
}

.hero-scroll:hover .hero-scroll-icon,
.hero-scroll:focus .hero-scroll-icon {
  fill: var(--white-color);
}

.hero-scroll:active .hero-scroll-icon {
  fill: var(--white-color);
}

/* Scroll */

.hero-scroll-down-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background-color: var(--white-color);
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-scroll-down-icon {
  fill: var(--main-accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-scroll-down-btn:hover,
.hero-scroll-down-btn:focus {
  transform: scale(1.1);
  background-color: var(--main-accent-color);
}

.hero-scroll-down-btn:active {
  transform: scale(1.1);
  background-color: var(--main-accent-color);
}

.hero-scroll-down-icon:hover,
.hero-scroll-down-icon:focus {
  fill: var(--white-color);
}

.hero-scroll-down-icon:active {
  fill: var(--white-color);
}

.hero-scroll-down-icon-tablet {
  display: none;
}

/*======== MEDIA Mobile ============*/

@media screen and (min-width: 320px) and (max-width: 327px) {
  .hero-btn-wrapper {
    gap: 7px;
  }
}

/*========== MEDIA TABLET ============ */

@media screen and (min-width: 768px) {
  .hero {
    padding-bottom: 50px;
  }

  .container-hero {
    height: 890px;
    /* Для Chrome и Safari */
    background-image: -webkit-image-set(
        url('/img/tablet/hero/hero3x.avif') 3x,
        url('/img/tablet/hero/hero2x.avif') 2x,
        url('/img/tablet/hero/hero1x.avif') 1x,
        url('/img/tablet/hero/hero3x.webp') 3x,
        url('/img/tablet/hero/hero2x.webp') 2x,
        url('/img/tablet/hero/hero1x.webp') 1x,
        url('/img/tablet/hero3x.jpg') 3x,
        url('/img/tablet/hero2x.jpg') 2x,
        url('/img/tablet/hero1x.jpg') 1x
      ),
      linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      );

    /* Для Firefox */
    background-image: -webkit-image-set(
        url('/img/tablet/hero/hero3x.avif') type('image/avif') 3x,
        url('/img/tablet/hero/hero2x.avif') type('image/avif') 2x,
        url('/img/tablet/hero/hero1x.avif') type('image/avif') 1x,
        url('/img/tablet/hero/hero3x.webp') type('image/webp') 3x,
        url('/img/tablet/hero/hero2x.webp') type('image/webp') 2x,
        url('/img/tablet/hero/hero1x.webp') type('image/webp') 1x,
        url('/img/tablet/hero3x.jpg') 3x,
        url('/img/tablet/hero2x.jpg') 2x,
        url('/img/tablet/hero1x.jpg') 1x
      ),
      linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      );
  }

  .container.container-hero {
    padding: 40px 40px;
  }

  .hero-title {
    max-width: 404px;
    font-size: 28px;
    line-height: calc(34 / 28);
    letter-spacing: -0.03em;
  }

  .hero-contant-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hero-btn-wrapper {
    margin-bottom: 0;
    justify-content: flex-start;
  }

  /* Scroll down */
  .hero-scroll {
    font-size: 14px;
    line-height: calc(18 / 14);
  }

  .hero-scroll-icon-wrapper {
    width: 38px;
    height: 38px;
  }

  .hero-scroll-icon {
    width: 22px;
    height: 22px;
  }

  .btn.btn-buy {
    padding: 14px 40px;
    max-width: none;
    min-width: 144px;
  }

  .btn.btn-info {
    padding: 14px 40px;
    max-width: none;
    min-width: 185px;
  }
}

/* =========== Desktop ================= */

@media screen and (min-width: 1200px) {
  .hero {
    padding-bottom: 72px;
  }

  .container-hero {
    height: 600px;
    /* Для Chrome и Safari */
    background-image: -webkit-image-set(
        url('/img/desktop/hero/hero3x.avif') 3x,
        url('/img/desktop/hero/hero2x.avif') 2x,
        url('/img/desktop/hero/hero1x.avif') 1x,
        url('/img/desktop/hero/hero3x.webp') 3x,
        url('/img/desktop/hero/hero2x.webp') 2x,
        url('/img/desktop/hero/hero1x.webp') 1x,
        url('/img/desktop/hero3x.jpg') 3x,
        url('/img/desktop/hero2x.jpg') 2x,
        url('/img/desktop/hero1x.jpg') 1x
      ),
      linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      );

    /* Для Firefox */
    background-image: -webkit-image-set(
        url('/img/desktop/hero/hero3x.avif') type('image/avif') 3x,
        url('/img/desktop/hero/hero2x.avif') type('image/avif') 2x,
        url('/img/desktop/hero/hero1x.avif') type('image/avif') 1x,
        url('/img/desktop/hero/hero3x.webp') type('image/webp') 3x,
        url('/img/desktop/hero/hero2x.webp') type('image/webp') 2x,
        url('/img/desktop/hero/hero1x.webp') type('image/webp') 1x,
        url('/img/desktop/hero3x.jpg') 3x,
        url('/img/desktop/hero2x.jpg') 2x,
        url('/img/desktop/hero1x.jpg') 1x
      ),
      linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      );
  }

  .container.container-hero {
    padding: 381px 40px 40px 40px;
  }
}
