/* How its made Section */
.how-its-made_section {
  background-color: var(--body-bg-color);
}
.how-its-made_section-title {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.accent-section-title {
  color: var(--main-accent-color);
}
.how-its-made_iframe-wrapper {
  max-width: 335px;
  height: 500px;
  margin-bottom: 20px;
}
.how-its-made_video {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border-color: transparent;
}
.how-its-made_description-wrapper {
  padding: 20px 14px;
  background: var(--white-color);
  border-radius: 15px;
}
.how-its-made_description {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 20px;
}
.how-its-made_list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 18px;
  margin-left: 16px;
}
.how-its-made_list-item {
  position: relative;
}
.how-its-made_list-item::before {
  content: '';
  position: absolute;
  display: inline-block;
  border-radius: 45%;
  width: 8px;
  height: 8px;
  left: -16px;
  top: 5px;
  background: #4c4c4c;
  border: 1px solid #eceded;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
}
