/* Our Products Section */

.our-products-container {
    padding: 72px 0;
}

.our-products-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.20;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-bottom: 32px;
}

.our-products-title-color {
    color: var(--main-accent-color);

}

.our-products-list {
    display: flex;
    gap: 20px;
}

.our-products-list-item {
    width: 335px;
    height: 364px;
    background: var(--white-color);
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 52px;
}

.our-products-item-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-top: 8px;
    margin-bottom: 2px;
}

.our-products-item-description {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);
    margin-bottom: 18px;
}

.our-products-item-price-btn {

    padding: 8px 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    color: var(--primary-color);
    background: #FAFAFA;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
    transition: background-color 250ms linear, color 250ms linear;
}

.our-products-item-price-btn:is(:hover, :focus) {
    background-color: var(--main-accent-color);
    color: var(--white-color);
}

/* no swiper */
.our-products-swiper-list {
    display: flex;
    gap: 13px;
    margin-top: 20px;
    justify-content: center;
}

.our-products-swiper-long {
    width: 28px;
    height: 13px;
    background: var(--main-accent-color);
    border-radius: 6px;
}

.our-products-swiper-short {
    width: 13px;
    height: 13px;
    background: rgba(17, 17, 17, 0.1);
    border-radius: 50%;
}

/* /no swiper */




@media screen and (min-width: 375px) {

    /* no swiper */
    .our-products-list-item:nth-child(n+2) {
        display: none;
    }

    /* /no swiper */
}

@media screen and (min-width: 768px) {
    .our-products-container {
        padding: 100px 0;
    }

    .our-products-title {
        font-size: 24px;
        line-height: 1.17;
        margin-bottom: 50px;


    }

    .our-products-title-color {}

    .our-products-list {
        column-gap: 18px;
        margin-bottom: 32px;
    }

    .our-products-list-item {
        width: 270px;
        height: 364px;
        padding: 32px 20px;
    }

    /* no swiper */
    .our-products-list-item:nth-child(n+2) {
        display: flex;
    }

    .our-products-list-item:nth-child(n+4) {
        display: none;
    }

    .our-products-swiper-list {
        margin-top: 32px;

    }

    /* /no swiper */

    .our-products-item-title {}

    .our-products-item-description {}

    .our-products-item-price-btn {}
}

@media screen and (min-width: 1200px) {
    .our-products-container {
        padding: 128px 0;
    }

    /* no swiper */
    .our-products-list-item:nth-child(n+4) {
        display: flex;
    }

    .our-products-list-item:nth-child(n+5) {
        display: none;
    }

    /* /no swiper */

}