.slick-section .actions {
  margin-bottom: 1.5rem;
}

.slick {
  margin: 0 -12px;
}

.slick-track {
  display: flex;
  gap: 24px;
  padding: 6px 0;
}

.slick .slick-dots {
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 2rem;
}

.slick .slick-dots li button {
  font-size: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background-color: rgb(200, 205, 209);
  transition: transform 250ms linear;
}

.slick .slick-dots li.slick-active button {
  transform: scale(1.5);
  background-image: linear-gradient(120deg, #bd34fe 30%, #41d1ff);
}

.slick .slick-slide {
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
