/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./advantages.css');
@import url('./unique-components.css');
@import url('./how-its-made.css');
@import url('./our-products.css');
@import url('./top-sellers.css');
@import url('./reviews.css');
@import url('./subscribe.css');
@import url('./footer.css');

/* Modal Windows */

@import url('./buy-now.css');
@import url('./leave-review.css');
@import url('./explore-new.css');

@import url('./overlay.css');

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Montserrat'),
    local('Montserrat-Medium') url(/src/fonts/Montserrat-Regular.woff)
      format('woff'),
    url(/src/fonts/Montserrat-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local('Montserrat'),
    local('Montserrat-Medium') url(/src/fonts/Montserrat-Medium.woff)
      format('woff'),
    url(/src/fonts/Montserrat-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local('Montserrat'),
    local('Montserrat-Medium') url(/src/fonts/Montserrat-SemiBold.woff)
      format('woff'),
    url(/src/fonts/Montserrat-SemiBold.woff2) format('woff2');
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Montserrat'),
    local('Montserrat-Medium') url(/src/fonts/Montserrat-Bold.woff)
      format('woff'),
    url(/src/fonts/Montserrat-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: local('Montserrat'),
    local('Montserrat-Medium') url(/src/fonts/Montserrat-BoldItalic.woff)
      format('woff'),
    url(/src/fonts/Montserrat-BoldItalic.woff2) format('woff2');
}

body {
  font-family: 'Montserrat', sans-serif;
}

:root {
  --primary-color: #111111;
  --secondary-color: #1e1823;
  --main-accent-color: #fd9222;
  --white-color: #ffffff;
}

:root {
  font-size: 14px;
  line-height: calc(18 / 14);
  font-weight: 400;
  letter-spacing: -0.02em;

  color: var(--primary-color);
  background-color: var(--white-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 375px) {
  .container {
    width: 365px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 734px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1166px;
  }
}
