.top-sellers {
  text-align: center;
  padding-bottom: 72px;
}

.top-sellers-img {
  border-radius: 15px;
}

.top-sellers-title {
  margin-bottom: 32px;

  font-weight: 600;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}

.top-sellers-list {
  margin-bottom: 20px;
}

.top-sellers-item {
  margin-bottom: 32px;
}

.top-sellers-item:nth-child(2) {
  margin-bottom: 20px;
}

.top-sellers-title_accent {
  color: var(--main-accent-color);
}

.top-sellets-item-info {
  max-width: 306px;
  text-align: left;
  line-height: 1.29;
}

.top-sellets-item-info-vis {
  display: none;
}

.top-sellers-hidden {
  display: none;
}

.top-seller-img_margin {
  margin-bottom: 20px;
}

.btn.top-sellers-btn {
  display: inline-flex;
  background-color: var(--main-accent-color);
}

/* === Media Table ========= */

@media screen and (min-width: 768px) {
  .top-sellers {
    padding-bottom: 100px;
  }

  .top-sellers-title {
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 1.17;
  }

  .top-sellets-item-info-vis {
    display: block;
  }

  .top-sellers-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    order: 1;
    margin-bottom: 32px;
  }

  .top-sellers-item {
    margin-bottom: 0;
    flex-basis: calc((100% - 16px) / 2);
  }

  .top-sellers-item:nth-child(2) {
    margin-bottom: 0;
  }

  .top-seller-img_margin {
    margin-bottom: 0;
  }

  .top-sellers-img {
    width: 344px;
  }

  .top-sellets-item-info {
    display: none;
  }

  .top-seller-btn-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .btn.top-sellers-btn {
    padding: 14px 40px;
  }

  .top-sellets-item-info-vis {
    display: block;
  }
}

/* ==== Media Desktop ======= */

@media screen and (min-width: 1200px) {
  .top-sellers {
    padding-bottom: 128px;
  }

  .top-sellers-item {
    flex-basis: calc((100% - 32px) / 3);
  }

  .top-sellers-hidden {
    display: block;
  }

  .top-sellers-img {
    width: 368px;
  }

  .top-sellets-item-info {
    width: 407px;
  }
}
