/* Unique Components Section */

.unique-components {
  padding-top: 72px;
  padding-bottom: 72px;
}

.unique-components-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--primary-color);

  width: 283px;
}
.accent {
  color: var(--main-accent-color);
}
.unique-components-description {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--primary-color);
  width: 335px;
}

.uniqu-components-picture {
  padding-top: 28px;
  display: flex;
  justify-content: center;
}
.unique-components-list {
}

.unique-components-list-item {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  border-radius: 15px;
}

.unique-components-list-item:nth-child(1) {
  color: var(--body-bg-color);
  background-color: var(--main-accent-color);
}

.unique-components-list-item:nth-child(3) {
  color: var(--body-bg-color);
  background-color: #1e1823;
}

.unique-components-list-item:nth-child(2n + 2) {
  background: var(--body-bg-color);
  border: 1px solid var(--main-accent-color);
}

.unique-components-list-item-title {
  padding-top: 25px;
  padding-left: 28px;
  padding-bottom: 28px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

/* overlay */

.overlay {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
  border: 1px solid var(--body-bg-color);
  transform: translate(100%, 0);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--body-bg-color);
}

.unique-components-list-item:hover .overlay,
.unique-components-list-item:focus .overlay {
  opacity: 1;
  transform: translate(0, 0);
}

.unique-components-list-item:hover,
.unique-components-list-item:focus {
  background-color: transparent;
  border-color: transparent;
}

.flip-title {
  padding-top: 28px;
  padding-left: 28px;
  text-align: start;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
}

.wrap-flip-btn {
  padding-left: 28px;
  display: flex;
  gap: 6px;
}
.flip-btn {
  justify-content: center;
  padding: 6px 16px;
  max-width: 100%;
  height: 24px;
  background: var(--body-bg-color);
  border: 1px solid #fd9222;
  border-radius: 35px;
  margin-bottom: 14px;
  font-size: 10px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  color: var(--primary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flip-btn:hover,
.flip-btn:focus {
  transform: scale(1.1);
  color: var(--body-bg-color);
  background-color: var(--main-accent-color);
}
.flip-description {
  padding-left: 28px;
  padding-right: 28px;
  height: 146px;
  text-align: left;
  margin: 0;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  overflow: hidden;
  color: var(--primary-color);
}

/* /overlay */

@media screen and (max-width: 375px) {
  .unique-components-title {
    width: 100%;
  }

  .unique-components-description {
    width: 100%;
  }

  .unique-components-list {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .unique-components-list-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .unique-components {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .unique-components-title {
    margin-bottom: 28px;
    width: 411px;
    font-size: 24px;
    line-height: 1.16;
  }

  .unique-components-description {
    margin-bottom: 50px;
    width: 486px;
  }

  .unique-components-list-item {
    margin: 0;
    max-width: 336px;
  }

  .unique-components-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .unique-components {
    padding-top: 128px;
    padding-bottom: 128px;
  }

  .unique-components-list-item {
    width: calc((100% - 57px) / 4);
  }

  .unique-components-list {
    flex-wrap: nowrap;
  }
}
