/* Unique Components Section */
/* Unique Components Section */

.unique-components {
}

.unique-components-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--primary-color);

  width: 283px;
}
.accent {
  color: var(--main-accent-color);
}
.unique-components-description {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--primary-color);
  width: 335px;
}

.uniqu-components-picture {
  padding-top: 28px;
  display: flex;
  justify-content: center;
}
.unique-components-list {
}

.unique-components-list-item {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  border-radius: 15px;
}

.unique-components-list-item:nth-child(1) {
  color: var(--body-bg-color);
  background-color: var(--main-accent-color);
}

.unique-components-list-item:nth-child(3) {
  color: var(--body-bg-color);
  background-color: #1e1823;
}

.unique-components-list-item:nth-child(2n + 2) {
  background: var(--body-bg-color);
  border: 1px solid var(--main-accent-color);
}

.unique-components-list-item-title {
  padding-top: 25px;
  padding-left: 28px;
  padding-bottom: 28px;
  font-size: 14px;
  line-height: 1.28;

  letter-spacing: -0.02em;
  text-transform: uppercase;
}

@media screen and (max-width: 375px) {
  .unique-components-title {
    width: 100%;
  }

  .unique-components-description {
    width: 100%;
  }

  .unique-components-list {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .unique-components-list-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .unique-components-title {
    margin-top: 100px;
    margin-bottom: 28px;
    width: 411px;
    font-size: 24px;
    line-height: 1.16;
  }

  .unique-components-description {
    margin-bottom: 50px;
    width: 486px;
  }

  .unique-components-list-item {
    margin: 0;
    max-width: 336px;
  }

  .unique-components-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .unique-components-title {
    margin-top: 128px;
  }

  .unique-components-list-item {
    width: 270px;
    margin: 0;
  }

  .unique-components-list {
    gap: 19px;
  }
}
